* {
    box-sizing: border-box;
}

.quiet:hover,
.quiet:focus {
    color: var(--primary)
}

.twitter:hover,
.twitter:focus {
    color: #1d9bf0;
}

.twitch:hover,
.twitch:focus {
    color: #9147ff;
}

.youtube:hover,
.youtube:focus {
    color: #ff0000;
}
